pkgbase = sharkvis-git
	pkgdesc = Terminal audio spectrum analyzer
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/Matko802/SharkVis
	arch = x86_64
	arch = aarch64
	license = custom
	makedepends = git
	makedepends = gcc
	makedepends = make
	makedepends = pkg-config
	depends = libpulse
	depends = glibc
	provides = sharkvis
	conflicts = sharkvis
	source = sharkvis::git+https://github.com/Matko802/SharkVis.git
	sha256sums = SKIP
